!!!5
html
  head
    meta(charset="utf-8")
    meta(name="viweport", content="width=device-width")
    
    title NLC

    link(rel="stylesheet", href="./style.css")

  body
    form#login
      input

  script(src="./jquery.min.js")